body {
    background-color: #fff; 
    background-image: url('../files/espe.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.navbar {
    background: linear-gradient(to bottom, #00ff5573, white);
}

.light-blue-bg {
    background-color: #c1ecf7; /* light blue background color */
}